// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
	font-family: Roboto-Condensed;
	src: url('../assets/fonts/roboto-condensed.woff2');
}

body, span, button, p {
	font-family: Roboto-Condensed;
}
.scroll-content {
	background: #4d345f;
}

.header{
	background-color: #000 !important;
}

.button-bg{
	box-shadow: none;
}

ion-item ion-label {
	color: #999 !important;
}

ion-input {
	color: rgba(255,255,255,0.9) !important;
}
